.search {
    display: flex;
    flex-flow: column;
    gap: 0.25rem;

    form {
        display: inline-flex;
        flex-flow: row;
        padding: 0.5rem 0.6875rem;

        input {
            min-width: 1rem;
            height: 2rem;
            border: none;
            border-radius: 4px 0 0 4px;
            outline: none;
            padding: 0 0.625rem;
            font-size: 1rem;
            flex: 1;
            box-shadow: 0 0 0 2px $light-button-active-color inset;

            @media (max-width: 51.1875rem) {
                width: unset;
                flex: 1;
                box-shadow: 0 0 0 0.125rem #1f1f5a;
            }
        }

        button {
            width: 2rem;
            height: 2rem;
            padding: 0;
            font-size: 1.45rem;
            line-height: 1rem;
            border-radius: 0 4px 4px 0;
        }
    }

    .options {
        display: flex;
        flex-flow: column;
        padding: 0 0.6875rem;
        gap: 0.3125rem;

        .option {
            height: 1.75rem;
            padding: 0;
            font-size: 1.25rem;
            line-height: 1rem;
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;
        }
    }


    .tags {
        position: relative;
        padding: 0 0.6875rem;

        .tag {
            user-select: none;
            position: relative;
            padding: 0 0.3125rem;
            background-color: #f6f2f0;
            border-radius: 4px;
            font-size: 0.8125rem;
            float: left;
            margin: 0.125rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 2px #9397be;
            color: #6b8ae7;
            font-weight: bold;
            cursor: pointer;
        }
    }

    @media (max-width: 48rem) {
        display: flex;
    }
}