.settings_page {
    display: flex;
    flex-flow: column;
    padding: 0.625rem;
    min-height: 18.75rem;
    max-height: 80vh;
    gap: 0.625rem;

    @media (max-width: 48rem) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-flow: column;
        padding: 0.625rem;
        max-height: unset;
    }

    .settings_page_options {
        display: flex;
        gap: 1.25rem;
        margin-top: 1.25rem;
        justify-content: center;

        .settings_page_option {
            background-color: #4923e0;
            border-radius: 0.4375rem;
            box-shadow: 0 0.25rem 0.5rem #0003;
            transition-duration: 150ms;
            font-size: 1rem;
            color: white;
            border: none;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            width: 5rem;

            &:hover {
                background-color: #592bff;
                scale: 1.03;
            }

            &:active {
                background-color: #5a40c3;
                scale: 0.97;
            }
        }
    }
}
