.settings_page {
    display: flex;
    flex-flow: column;
    padding: 10px;
    min-height: 300px;
    max-height: 80vh;
    gap: 10px;

    @media (max-width: 819px) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-flow: column;
        padding: 10px;
        max-height: unset;
    }

    .settings_page_options {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        justify-content: center;

        .settings_page_option {
            background-color: #4923e0;
            border-radius: 7px;
            box-shadow: 0 4px 8px #0003;
            transition-duration: 150ms;
            font-size: 16px;
            color: white;
            border: none;
            padding: 8px;
            display: flex;
            justify-content: center;
            width: 80px;

            &:hover {
                background-color: #592bff;
                scale: 1.03;
            }

            &:active {
                background-color: #5a40c3;
                scale: 0.97;
            }
        }
    }
}