.images_sort_select {
    position: relative;
    width: 12.5rem;
    background-color: $light-button-color;
    color: white;
    border-radius: 0.25rem;
    margin: 1rem auto;

    @media (max-width: 48rem) {
        margin: 0.625rem;
        width: unset;
        box-shadow: 0 0 0 0.0625rem #5637c6;
    }

    .images_sort_selected_option {
        display: block;
        padding: 0.625rem;
        cursor: pointer;
    }

    .images_sort_options {
        position: absolute;
        top: calc(100% + 0.625rem);
        left: 0;
        right: 0;
        background-color: $light-button-color;
        border: 0.1875rem solid $light-button-active-color;
        border-radius: 0.1875rem;
        z-index: 1;

        &:before {
            content: "";
            top: -1.375rem;
            left: 0.625rem;
            display: block;
            border-width: 0.625rem;
            border-style: solid;
            width: 0;
            height: 0;
            border-color: transparent transparent $light-button-active-color transparent;
            position: absolute;

        }

        .images_sort_option {
            display: block;
            padding: 0.625rem;
            cursor: pointer;
            list-style: none;
            transition-duration: 125ms;

            &:hover {
                background-color: $light-button-hover-color;
            }
        }

    }

}