.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .signin {
        background-color: #9fc2f0;
        border-radius: 0.5625rem;
        display: flex;
        flex-flow: row;
        box-shadow: 0.25rem 0.3125rem 0.625rem #2821217d;

        @media (max-width: 48rem) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: unset;
            border-radius: unset;
            box-shadow: unset;
            flex-flow: column-reverse;
            align-items: center;
            justify-content: center;
        }

        .left {
            display: flex;
            flex-flow: column;
            justify-content: center;

            @media (max-width: 48rem) {
                flex: unset;
            }

            .appname {
                font-family: "Poetsen One", "Budokan Rounded", sans-serif;
                text-align: center;
                line-height: 4.5rem;
                font-size: 2.625rem;
                color: #fff;
                text-shadow: 0 0 7px #030b22;
            }

            .button {
                margin: 0.9375rem;
                line-height: 3.375rem;
                font-size: 1.125rem;
                font-weight: bold;
                padding: 0 1.25rem;
            }
        }

        .right {
            position: relative;
            width: 25rem;
            height: 22.5rem;
            display: flex;
            flex-flow: column;

            .mark {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0.625rem;
                background: linear-gradient(155deg, #85a9ee 0%, #9c9eff 90%);
                border-radius: 8px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .description {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 1.25rem;
                padding: 0.625rem;
                border-radius: 0.375rem;
                background-color: #edeff387;
                min-height: 3.75rem;
                backdrop-filter: blur(0.3125rem);
            }
        }
    }
}