.menu {
    height: 2.125rem;
    width: 2.125rem;
    padding: 0.625rem;
    margin: 0 0.625rem;
    fill: white;
    font-size: 2.125rem;
    position: relative;
    display: flex;

    svg {
        pointer-events: none;
    }

    @media (max-width: 48rem) {
        width: 100%;
        height: unset;
        padding: unset;
        margin: unset;
        justify-content: center;
    }

    .menu_options {
        position: absolute;
        top: 100%;
        right: 0.625rem;
        min-width: 12.5rem;
        background-color: #241c5c;
        height: auto;
        box-shadow: 0 0.5625rem 1.25rem 0px #0005;
        border-radius: 0.3125rem;
        list-style: none;
        margin-top: 0.125rem;
        font-size: 1.125rem;

        @media (max-width: 48rem) {
            top: unset;
            bottom: 100%;
            right: 0;
            z-index: 1;
        }

        .menu_option {
            position: relative;
            padding: 0.3125rem 1.25rem;
            cursor: default;
        }
    }
}
