.container {
    position: relative;
    display: flex;

    .side_page {
        position: absolute;
        left: 100%;
        width: 15rem;
        height: 100%;
        background: #afcff1;
        overflow: hidden;
        transform: translate(-100%, 0);
        transition: all linear 50ms;
        box-shadow: 0 0 10px 0px transparent;

        &[data-visibled="true"] {
            transform: translate(0, 0);
            box-shadow: 0 0 10px 0px #0c152b;
        }

    }

    .side_options {
        position: relative;
        display: flex;
        flex-flow: column;
        font-size: 1.6rem;
        align-items: center;
        width: 3rem;
        gap: 0.2rem;
        background-color: #5498e0;
        color: #fff;
        padding: 1rem 0;
        box-shadow: 0 0 5px 1px #0c152b;
    }
}