.tags_selector_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;

    .tags_selector {
        position: relative;
        width: 37.5rem;
        margin: auto;
        border-radius: 6px;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-flow: column;
        box-shadow: 0 0 0.5rem #3f4869;
        background: $light-secondary-color;

        @media (max-width: 48rem) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .tags_selector_selected_tags,
        .tags_selector_not_used_tags {
            position: relative;
            min-height: 7.5rem;
            margin: 0.625rem;
            border-radius: 6px;
            background: $light-input-background-color;

            @media (max-width: 48rem) {
                flex: 1;
            }

            .tags_selector_selected_tag,
            .tags_selector_not_used_tag {
                margin: 0.3125rem;
                position: relative;
                font-size: 0.75rem;
                cursor: default;
                user-select: none;
                padding: 0 0.3125rem;
                background-color: #f6f2f0;
                border-radius: 4px;
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 2px #9397be;
                color: #6b8ae7;
                font-weight: bold;
            }
        }

        .tags_selector_tag_options {
            position: relative;
            display: flex;
            flex-flow: row;
            margin: 0 1.25rem;
            gap: 0.625rem;

            @media (max-width: 48rem) {
                flex-flow: column;
                gap: 0.375rem;
            }

            .tags_selector_tag_option {
                display: flex;
                flex-flow: row;

                @media (max-width: 48rem) {
                    border-radius: 0.25rem;
                    height: 2rem;
                }

                .tags_selector_tag_option_label {
                    padding: 0 0.3125rem;
                    background-color: $light-button-color;
                    border-radius: 5px 0 0 5px;
                    display: flex;
                    cursor: default;
                    align-items: center;
                    color: #fff;
                }

                .tags_selector_add_tag_input {
                    width: 5.625rem;
                    min-width: 1rem;
                    height: 2rem;
                    border: none;
                    background: $light-input-background-color;
                    outline: none;
                    padding: 0 0.625rem;
                    box-shadow: 0 0 1px 1px $light-button-color inset;
                }

                .tags_selector_add_tag_button {
                    border-radius: 0 5px 5px 0;
                    font-weight: bold;
                    font-size: 0.9rem;
                }

                .tags_selector_remove_tag_block {
                    background: $light-input-background-color;
                    border-radius: 0 5px 5px 0;
                    border: dashed $light-button-active-color 2px;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    &::before {
                        content: attr(data-label);
                        margin: 0 0.625rem;
                        text-shadow: 0 0 5px #fffefe;
                        color: $light-button-color;
                        font-weight: bold;
                    }
                }
            }
        }

        .tags_selector_options {
            display: flex;
            flex-flow: row;
            gap: 0.625rem;
            justify-content: center;
            margin-bottom: 0.625rem;

            .tags_selector_option {
                padding: 0.25rem 0.5rem;
                min-width: 3.75rem;
                font-weight: bold;
            }
        }

        .tags_selector_dragging_tag {
            position: absolute;
            background-color: #f6f2f0;
            padding: 0rem 0.3125rem;
            border-radius: 4px;
            font-size: 0.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 2px #9397be;
            color: $light-button-color;
            font-weight: bold;
            user-select: none;
            transform: translate(-50%, -50%);
        }
    }
}