$light-background-color: #e8edf1;
$light-text-color: #000;
$light-primary-color: #5498e0;
$light-secondary-color: #afcff1;
$light-tertiary-color: #87b8f6;

$light-button-color: #6b8ae7;
$light-button-hover-color: #5c7ddd;
$light-button-active-color: #4667ca;
$light-button-text-color: #EDEBF7;

$light-input-background-color: #f4f6fb;

$primary-font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, 'Arial', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
$button-font-family: "Poetsen One", "Budokan Rounded", sans-serif;