.setting_block {
    .setting_block_title {
        position: relative;
        line-height: 28px;
        background-color: #5e37cb;
        margin-left: -20px;
        padding: 0 15px;
        font-size: 16px;
        border-radius: 3px;
        cursor: default;
        user-select: none;
    }

    .setting_block_content {
        height: 0px;
        transition: height 0.3s ease-in-out;
        overflow-y: scroll;
    }
}