.description {
    position: relative;
    border-radius: 8px;
    background: $light-input-background-color;
    overflow: auto;
    display: flex;
    flex-flow: row;
    box-shadow: 1px 1px 3px 3px #5b5b5b99;
    margin: 1rem auto;
    max-width: 48rem;

    @media (max-width: 48rem) {
        margin: 1rem 0.5rem;
    }

    .icon {
        width: 1.5rem;
        overflow: hidden;
        background: $light-tertiary-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    textarea {
        flex: 1;
        margin: 0.5rem;
        background: transparent;
        line-height: 1.125rem;
        font-size: 1rem;
        border: none;
        outline: none;
        padding: 0;
        height: 1.125rem;
        overflow: auto;
        min-height: 2.25rem;
        max-height: 5.625rem;
        resize: none;

        &:read-only {
            caret-color: transparent;
        }
    }

    .edit {
        position: absolute;
        bottom: 0.3rem;
        right: 0.3rem;
        width: 1.25rem;
        height: 1.25rem;
        font-size: 0.8rem;
        border-radius: 100%;
    }
}