.viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-background-color;
    z-index: 1;
    overflow-y: auto;
    padding-top: 3rem;

    @media (max-width: 48rem) {
        padding-bottom: 3.5rem;
    }
}