.viewer_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b1b32;
    display: flex;
    z-index: 1;
    overflow-y: auto;

    .viewer {
        position: relative;
        width: 800px;
        margin: auto;
        display: flex;
        flex-flow: row;
        gap: 20px;


        @media (max-width: 819px) {
            width: 100%;
            padding: 20px 20px 72px;
        }

        .viewer_main {
            display: flex;
            flex-flow: column;
            gap: 10px;
            flex: 1;


            .viewer_title {
                padding: 0 10px;
                font-size: 24px;
                line-height: 24px;
                word-break: break-all;
            }

            .viewer_title_edit {
                background-color: #6b53e0;
                border-radius: 5px;
                color: #fff;
                outline: none;
                line-height: 24px;
                font-size: 24px;
                border: none;
                padding: 2px 10px;
            }

            .viewer_image {
                position: relative;
                display: flex;


                @media (max-width: 819px) {
                    position: relative;
                    display: flex;
                    flex-flow: column;
                    gap: 10px;
                }

                img {
                    max-height: 80vh;
                    overflow: hidden;
                    flex: 1;
                    filter: drop-shadow(0 0 10px #0005);
                    object-fit: contain;
                    width: 100%;


                    @media (max-width: 819px) {
                        flex: none;
                        object-fit: contain;
                        max-height: unset;
                    }
                }

            }



            .viewer_image_tags {
                position: relative;
                border-style: solid;
                border-color: #3b21b8;
                border-width: 32px 1px 1px 1px;
                border-radius: 5px;
                min-height: 32px;

                &::before {
                    content: attr(data-text);
                    position: absolute;
                    top: -32px;
                    left: 0px;
                    right: 0px;
                    height: 32px;
                    line-height: 32px;
                    overflow: hidden;
                    text-align: center;
                }

                .viewer_image_tag {
                    position: relative;
                    float: left;
                    margin: 5px;
                    background-color: #5558e7;
                    padding: 2px 5px;
                    border-radius: 4px;
                    cursor: default;
                    user-select: none;
                }
            }



            .viewer_description {
                padding: 12px;
                background-color: #121226;
                border-radius: 7px;
            }

            .viewer_description_edit {
                background-color: #6b53e0;
                border-radius: 5px;
                color: #fff;
                outline: none;
                line-height: 18px;
                font-size: 16px;
                border: none;
                padding: 12px;
            }

            .viewer_title,
            .viewer_description {
                .viewer_edit {
                    margin: 0 5px;
                }
            }
        }

        .viewer_options {
            display: flex;
            flex-flow: column;
            gap: 10px;
            width: 200px;


            @media (max-width: 819px) {
                position: absolute;
                flex-flow: row;
                bottom: 12px;
                height: 48px;
                width: unset;
                left: 0;
                right: 0;
                padding: 0 20px;
            }


            .viewer_option {
                position: relative;
                list-style: none;
                background-color: #3b21b8;
                border-radius: 5px;
                font-size: 16px;
                display: flex;
                flex-flow: row;
                align-items: center;
                gap: 10px;
                transition-duration: 125ms;
                padding: 4px 10px;
                line-height: 20px;

                &:hover {
                    background-color: #36229e;
                }

                &:active {
                    background-color: #25137e;
                }

                ion-icon {
                    font-size: 24px;
                }

                &::after {
                    content: attr(data-text);
                }


                @media (max-width: 819px) {
                    flex: 1;
                    justify-content: center;

                    &::after {
                        display: none;
                    }
                }
            }
        }


    }
}