.container {
    position: relative;
    border-radius: 8px;
    background: $light-input-background-color;
    overflow: auto;
    display: flex;
    flex-flow: row;
    box-shadow: 1px 1px 3px 3px #5b5b5b99;
    margin: 1rem auto;
    max-width: 48rem;
    padding: 0.2rem;
    gap: 0.2rem;
    justify-content: center;

    @media (max-width: 48rem) {

        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0.5rem;
        z-index: 1;
    }

    .option {
        position: relative;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        font-size: 1.4rem;
        flex: 1;
        max-width: 3rem;
        height: 2rem;

        color: $light-button-text-color;

        background: $light-button-color;

        &:hover {
            background: $light-button-hover-color;
            cursor: pointer;
        }

        &:active {
            background: $light-button-active-color;
        }
    }
}