.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    @media (max-width: 819px) {
        width: 100vw;
    }

    .alert {
        padding: 1.25rem;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(34, 33, 33, 0.76);
        text-align: center;
        min-width: 25rem;
        max-width: 37.5rem;
        margin: auto;
        background: #d9e4ff;

        @media (max-width: 48rem) {
            min-width: 0;
            width: 100vw;
        }

        .message {
            margin-bottom: 1.25rem;
            font-size: 1rem;
        }

        .button {
            padding: 0 1.25rem;
            font-size: 0.875rem;
            margin: 0.3125rem;
            line-height: 2rem;
            height: 2rem;
            min-width: 5rem;
            font-weight: bold;
        }
    }
}