.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 7.5rem;
        height: 7.5rem;
        transform: translate(-50%, -50%);
        animation: rotate 5s infinite linear;
        border-radius: 100%;

        .triangle,
        .line {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            animation: opacity 2s infinite linear;

            &::before {
                content: "";
                display: block;
                border-style: solid;
                transform: translate(0, -50%);
                border-color: transparent #6b8ae7 transparent transparent;
            }

            &.triangle::before {
                border-width: 1.5625rem 3.75rem 1.5625rem 0;
                border-radius: 100%;
            }

            &.line::before {
                border-width: 0.1875rem 0.4375rem 0.1875rem 0;
                width: 3.3125rem;
                height: 2.5rem;
                border-radius: 100%;
            }

            &:nth-child(1) {
                transform: rotate(0deg);
                animation-delay: -1.75s;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
                animation-delay: -1.5s;
            }

            &:nth-child(3) {
                transform: rotate(90deg);
                animation-delay: -1.25s;
            }

            &:nth-child(4) {
                transform: rotate(135deg);
                animation-delay: -1s;
            }

            &:nth-child(5) {
                transform: rotate(180deg);
                animation-delay: -0.75s;
            }

            &:nth-child(6) {
                transform: rotate(225deg);
                animation-delay: -0.5s;
            }

            &:nth-child(7) {
                transform: rotate(270deg);
                animation-delay: -0.25s;
            }

            &:nth-child(8) {
                transform: rotate(315deg);
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
