.notifications {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    pointer-events: none;

    .notification {
        background-color: #98c5f4;
        font-weight: bold;
        border-radius: 0.3125rem;
        margin-bottom: 0.625rem;
        padding: 0.4375rem 0.9375rem;
        box-shadow: 0 2px 8px rgba(34, 33, 33, 0.76);
        display: flex;
        align-items: flex-start;
        line-height: 1.5rem;
        flex-flow: wrap-reverse;
        pointer-events: all;

        .message {
            margin: 0;
            flex: 1;
        }

        .button {
            position: relative;
            width: auto;
            height: 1.5rem;
            line-height: 1.5rem;
            margin-left: 0.25rem;

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 1.25rem;
                height: 0.125rem;
                background-color: transparent;
                transition: background-color 0.3s ease;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        &:hover {
            .button {
                .button {

                    &::before,
                    &::after {
                        background-color: #ad9cff;
                    }
                }
            }
        }
    }
}