$block-background-color: #f4f6fb;

.uploader_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0004;
    backdrop-filter: blur(0.125rem);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .uploader {
        background: $light-secondary-color;
        padding: 1.25rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
        width: 25rem;
        max-width: 90%;
        display: flex;
        flex-flow: column;

        @media (max-width: 48rem) {
            position: absolute;
            bottom: 0;
            max-height: calc(100% - 2.5rem);
            overflow-y: auto;
        }

        .image_hosting_services {
            position: relative;
            background-color: $block-background-color;
            border-radius: 0.25rem;
            margin-bottom: 0.625rem;

            .image_hosting_service {
                padding: 0 0.3125rem;
                cursor: pointer;
                user-select: none;
                margin: 0.125rem;
                background-color: $light-input-background-color;
                border-radius: 4px;
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;

                &:hover {
                    box-shadow: 0 0 0 2px $light-button-hover-color inset;
                }

                &[data-selected="true"] {
                    background-color: $light-button-hover-color;
                    color: $light-button-text-color;
                }
            }
        }

        .upload_title {
            background: $block-background-color;
            padding: 0.625rem;
            margin-bottom: 0.625rem;
            border: none;
            border-radius: 0.25rem;
            font-size: 1rem;
        }

        .upload_image {
            position: relative;
            display: inline-flex;
            flex-direction: column;
            height: 9.375rem;
            margin-bottom: 0.625rem;
            background-color: $block-background-color;
            border: 2px dashed #68687d;
            border-radius: 0.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            transition-duration: 0.125s;
            user-select: none;

            &[data-active="true"] {
                background-color: #b6c5e4;
            }

            .upload_select_file {
                line-height: 1.5rem;
                z-index: 1;
            }
        }

        .upload_image_selected {
            display: inline-flex;
            flex-flow: column;
            width: 100%;

            img {
                max-width: 100%;
                border-radius: 0.4375rem;
                max-height: 50vh;
                margin-bottom: 0.3125rem;
                object-fit: contain;

                @media (max-width: 48rem) {
                    max-height: unset;
                }
            }

            .upload_remove {
                margin: 0.3125rem;
            }
        }

        button {
            font-size: 1rem;
        }

        .upload_description {
            background: $block-background-color;
            padding: 0.625rem;
            border: none;
            border-radius: 0.25rem;
            font-size: 1rem;
            resize: none;
            margin-bottom: 0.625rem;
        }

        .upload_save {
            display: flex;
            flex-flow: row;
            align-items: center;
            margin: 0.3125rem 0;

            .upload_save_label {
                margin-right: 0.5rem;
                text-align: right;
                margin-left: 0.375rem;
            }

            .upload_save_value {
                width: 3rem;
                height: 1.625rem;
                background-color: $light-input-background-color;
                border-radius: 0.75rem;
                position: relative;
                box-shadow: 0 0 0.1875rem #000 inset;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    margin: 0.125rem;
                    width: 1.125rem;
                    height: 1.125rem;
                    border: solid 0.125rem #a8a8a8;
                    border-radius: 1.125rem;
                    background-color: #f0f0f0;
                    transition-duration: 0.25s;
                }

                &:active::before {
                    width: 1.6875rem;
                }

                &[data-enabled="true"] {
                    &::before {
                        left: calc(100% - 1.625rem);
                        background-color: $light-primary-color;

                    }

                    &:active::before {
                        left: calc(100% - 2.1875rem);
                    }
                }

            }
        }

        .upload_selected_tags {
            background: $block-background-color;
            min-height: 1rem;
            overflow: auto;
            border-radius: 4px;
            margin-bottom: 0.625rem;

            .upload_selected_tag {
                position: relative;
                font-size: 0.75rem;
                cursor: default;
                user-select: none;
                padding: 0 0.3125rem;
                background-color: #f6f2f0;
                border-radius: 4px;
                float: left;
                margin: 0.125rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 2px #9397be;
                color: #6b8ae7;
                font-weight: bold;
            }
        }

        .options {
            width: 100%;
            display: inline-flex;
            flex-flow: revert;

            button {
                padding: 0.625rem;
                margin: 0.3125rem;
                margin-bottom: 0.625rem;
                flex: 1;
            }
        }
    }

    label {
        display: block;
        height: 1.25rem;
        padding-left: 0.3125rem;
        line-height: 1.25rem;
        margin-bottom: 0.3125rem;
    }
}

.upload_full_screen_preview_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    background-color: #0007;

    .upload_full_screen_preview_close {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .upload_full_screen_preview {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}