.title {
    flex: 1;
    display: flex;
    flex-flow: row;
    gap: 1rem;
    align-items: center;

    .content {
        font-size: 1.2rem;
        line-height: 1.2rem;
        word-break: break-all;
        flex: 1;
        background-color: #25137e;
        padding: 0.5rem;
    }
}

.title_edit {
    background-color: #6b53e0;
    color: #fff;
    outline: none;
    line-height: 1.2rem;
    font-size: 1.2rem;
    border: none;
    flex: 1;
    padding: 0.5rem;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row;
    gap: 0.875rem;
    align-items: center;
    background: #5498e0;

    .main {
        display: flex;
        flex-flow: row;
        gap: 0.875rem;
        align-items: center;
        margin: auto;
        width: 48rem;

        .icon {
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 1px #fff;
        }

        .title {
            flex: 1;
            display: flex;
            flex-flow: row;
            gap: 1rem;
            align-items: center;

            .content {
                font-size: 1.2rem;
                line-height: 1.2rem;
                word-break: break-all;
                flex: 1;
                padding: 0.5rem;
                background: $light-input-background-color;
                box-shadow: 0 0 0 2px $light-primary-color inset;
                border: none;
                outline: none;

                &:read-only {
                    background: transparent;
                    caret-color: transparent;
                    cursor: default;
                }
            }

        }

    }
}